<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tonilopezmr.androidtesting">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".AndroidTestingApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".got.app.activity.HomeActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".got.app.activity.DetailActivity"
                android:parentActivityName=".got.app.activity.HomeActivity">
        </activity>

        <activity
                android:name=".got.app.activity.CreateCharacterActivity"
                android:parentActivityName=".got.app.activity.HomeActivity">
        </activity>
        <activity
                android:name=".listview.ListViewActivity"
                android:theme="@style/ListTheme">
        </activity>
        <activity
                android:name=".BasicEspressoActivity"
                android:theme="@style/ListTheme">
        </activity>

    </application>

</manifest>